<header class="page-header">
  <div class="container">
      <h1 class="title"><b>Digi Track</b></h1>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      </style>
  </div>
</header>
<div class="container">
<div class="row">
<div class="content col-sm-12 col-md-12">
<div class="row">
<div class="col-sm-6 col-lg-6 bottom-padding">
      
  <div class="transformation_india">
<h3><b></b></h3>
<h5><i><u>DIGI Track</u></i> </h5>was introduced as a solution to bring students into this big picture and not to leave them behind with the ongoing digitalization.

<h5><i><u>DIGI Track</u></i></h5>  is an RFID based ID card system that also provides short message service regarding the usage of the card. Every student is provided with an ID card, which can be recharged and can be used to buy anything that’s available in the campus and also with local shops that provide digi track service.

<p>It also facilitates parents with the information regarding students school check in and check out timings and stay assured of their safety. With the SMS service inbuilt in the system, one can also get the updates regarding the card usage ontime to the registered mobile number.</p>

With the entire country going digital with an aim for a cashless economy, We at BRIIISK Mercantile Pvt. Ltd were stuck with the challenge of enabling students - the future of our country- to be part and contribute to the vision of going digital.
</div> 
  
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
  <img src="apnaimage.jpg" class="img-responsive" height="550px" width="500px">

</div>




<div class="clearfix"></div>
</div>
</div>
</div>
</div>

