<!--The content below is only a 
   and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    </h1>
</div> -->
<!-- <app-home></app-home> -->
<app-navbar></app-navbar>
<!-- <app-home></app-home> -->
<!-- <app-contact></app-contact> -->
<!-- <app-services></app-services> -->
<router-outlet></router-outlet>


<!-- <div class="gal">
    <h2><u>Our Project</u></h2>
    <div class="gall">
        <a target:"_blank">
        <img src="screen1.jpg">
        </a>
        <div class="desc"><span style="color:blue"><h3><center>Employeement Generation</center></h3><u><h5><center>Self-mode</center></h5></u>

<center>Self-mode Entrepreneur</center>

<u><h5><center>Employment</center></h5></u>

<center>5 person in every village of India (5,00,000 Employment)</center></span> </div>
        </div>
    <div class="gall">
    <a target:"_blank">
    <img src="screen3.jpg">
    </a>
    <div class="desc"><span style="color:blue"><h3><center>Village Entrepreneur</center></h3><u><h5><center>Creating Entrepreneur</center></h5></u>

<center>Creating entrepreneur in every village</center>

<u><h5><center>Giving Employment</center></h5></u>

<center>Focus on giving employment not seeking employment</center></span></div>
    </div>
    <div class="gall">
    <a target:"_blank">
    <img src="screen4.jpg" >
    </a>
    <div class="desc"><span style="color:blue"><h3><center>Digital India</center></h3><u><h5><center>Digitalizing</center></h5></u>

<center>Digitalizing every village of India</center>

<u><h5><center>Promoting</center></h5></u>

<center>Promoting Digital India through single plateform</center></span>

</div>
    </div>
</div>
</div>
 -->
