<header class="page-header">
  <div class="container">
      <h1 class="title"><b>Hospitality</b></h1>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      </style>
  </div>
</header>
<div class="container">
<div class="row">
<div class="content col-sm-12 col-md-12">
<div class="row">
<div class="col-sm-8 col-lg-8 bottom-padding">
      
  <div class="transformation_india">
<h3><b></b></h3>
<p>BRIICKS Mercantile provides you with services for all facets of the hospitality industry that includes lodging, event planning, transportation, cruise line and travelling. We believe in providing best services and prioritise customer satisfaction</p>

<p> BRIICKS Mercantile provides you with services for all facets of the hospitality industry that includes lodging, event planning, transportation, cruise line and travelling. We believe in providing best services and prioritise customer satisfaction</p>

<p>Be it a distant vacation, theme based event or travelling and lodging, with every kind of service you choose we provide you with varied options to choose from,letting you decide on the itinerary that fits into your budget</p>

With the quality of our service, we make sure that your experience with us stays with you forever and will be fondly remembered
</div> 
  




<div class="clearfix"></div>
</div>
</div>
</div>
</div>

