                                  
                                            <!-- .header-icons -->

                                            <header class="page-header">
                                              <div class="container">
                                                  <h1 class="title"><b>Renewable Energy</b></h1>
                                                  <meta name="viewport" content="width=device-width, initial-scale=1">
                                                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                                                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                                                  <style>
                                                  .fakeimg {
                                                    height: 200px;
                                                    background: #aaa;
                                                  }
                                                  </style>
                                                  <div class="breadcrumbs"></div>
                                              </div>
                                          </header>
                                      
                                          
                                          
                                       
                                  
                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 feature_box">
                                              <div class="feature-box-02 text-center">
                                                  <div class="left_border"></div>
                                                  <div class="right_border"></div>
                                                  <div class="top_border"></div>
                                                  <div class="bottom_border"></div>
                                                  <i class="fas fa-pencil-ruler"></i>
                                                  <span><h3><b>Purchase</b></h3></span>
                                                  <p>We provide you the means to use the renewable energy for your homes or business lines by facilitating the purchase of components and machineries that harness these energy</p>
                                                  <!-- <p>No matter what platform, The idea is to get you viral. With creative content, context, and hashtags we provide services to promote your product or business line on social media. Along with promotion we also provide a  platform for customers to provide direct feedback and make their voice counted. <p> -->
                                              </div>  
                                            </div>
                                            <div class="col-lg-6 col-md-12 feature_box">
                                              <div class="feature-box-02 text-center">
                                                  <div class="left_border"></div>
                                                  <div class="right_border"></div>
                                                  <div class="top_border"></div>
                                                  <div class="bottom_border"></div>
                                                  <i class="fas fa-parachute-box"></i>
                                                  <span><h3><b>Installation</b></h3></span>
                                                  <p>We provide you with complete assistance in installation of these units and ensure proper working of the components delivered</p>
                                                  <!-- <p>Search engine marketing(SEM) is one of the major forms of internet marketing that involves the promotion of websites by increasing their visibility in search engine result pages through both paid (Pay Per Click) and unpaid (SEO) efforts. With consumers researching and shopping for products online, search engine marketing has become a crucial strategy for increasing a company’s reach. </p> -->
                                              </div>  
                                            </div>
                                            <div class="col-lg-6 col-md-12 feature_box">
                                              <div class="feature-box-02 text-center">
                                                  <div class="left_border"></div>
                                                  <div class="right_border"></div>
                                                  <div class="top_border"></div>
                                                  <div class="bottom_border"></div>
                                                  <i class="fas fa-tablet-alt"></i>
                                                  <span><h3><b>Technical Assistance</b></h3></span>
                                                  <p>We provide services to take care of all the technical details and provide assistance at a later period in time as well</p>
                                                  <!-- <p>To effectively use emails as marketing strategy and attract customers and turn them into loyal, raving fans, we use appropriate Email marketing strategies that won't land your emails into spam and instead with highly relevant information written amazingly and categorised specifically for various group of people, we make sure we turn your campaigns into strategies that attract more and more customers, improving your business. </p> -->
                                              </div>  
                                            </div>
