<header class="page-header">
  <div class="container">
      <h1 class="title"><b>Advertising Agency </b></h1>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      </style>
  </div>
</header>



<div class="row">
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-pencil-ruler"></i>
      <span><h3><b>Brand Management</b></h3></span>
      <p>We believe that branding is not just a market strategy but a continuous process of maintaining, improving and upholding a brand consistently such that the brand is associated with a positive image that enables the price of the products to go up and gain loyal customers.</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-parachute-box"></i>
      <span><h3><b>Creative Services</b></h3></span>
      <p>We offer you our best creative minds to portrait you the way you like it. From writing creative contents to designing pages, we provide you services that make you stand out in the crowd and get the attention you intended. </p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-tablet-alt"></i>
      <span><h3><b>Print Media</b></h3></span>
      <p>We offer you the benefit of popularity in any corner of the world you name. With our well-connected print media networks, be it local newspapers or popular magazines, we get you the widespread visibility with appropriate content suiting the intended crowd.</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-layer-group"></i>
      <span><h3><b>Radio Advertising</b></h3></span>
      <p>When it's advertising, we explore all opportunities we have and Radio advertising is one among them. Though there are various other options of entertainment today, radio is still an important media to reach out to all kinds of people.</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-chart-line"></i>
      <span><h3><b>Outdoor Management</b></h3></span>
      <p>We understand how important is teamwork and leadership skills and believes in unity and teamwork. Our Outdoor management programs include various team building activities that help in building up the rapport among the team members. It provides a means to know and understand the other person outside the four walls of the organization. </p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-chart-line"></i>
      <span><h3><b>Public Relationship</b></h3></span>
      <p>We provide services where we creatively and rightly articulate the information to be spread among the public such that it has positive impacts on the public image of the company. We also facilitate and suggest relevant community outreach programs and volunteer works based on your interests keeping you involved in the public domain. </p>
  </div>  
</div>

</div>