<header class="page-header">
  <div class="container">
      <h1 class="title"><b>E-Commerce</b></h1>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      </style>
  </div>
</header>



<div class="row">
<div class="col-lg-6 col-md-12 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-pencil-ruler"></i>
      <span><h3><b>Multiple Services</b></h3></span>
      <p>We provide you with all kind of services ranging from basic Govt based services to hospitality, IT, e-commerce, Banking etc, that would be required on a day to day basis, encouraging</p>
      
  </div>  
</div>
<div class="col-lg-6 col-md-12 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-parachute-box"></i>
      <span><h3><b>User Friendly</b></h3></span>
      <p>Providing variety of services that are needed on a day to day basis on a single platform makes it easy to be user</p>
     
  </div>  
</div>
<div class="col-lg-6 col-md-12 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-tablet-alt"></i>
      <span><h3><b>Encouraging Entrepreneurship</b></h3></span>
      <p>We provide you the opportunity to be our partner at a village level or tehsil or district or state level and realize your dream of becoming an entrepreneur by operating our platforma to provide services</p>
     
  </div>  
</div>

</div>


