.right_Positioning7{
  position: absolute;
  /* bottom: 0; */
  /* right: 100%; */
  left:64%;
  width: 45px;
  /* border: 3px solid #73AD21; */
}

.right_Positioning {
    position: absolute;
    /* bottom: 0; */
    /* right: 100%; */
    left:92%;
    width: 45px;
    /* border: 3px solid #73AD21; */
  }
  .right_Positioning1 {
    position: absolute;
    /* bottom: 0; */
    /* right: 100%; */ 
    left:85%;
    width: 48px;
    /* border: 3px solid #73AD21; */
  }
  .right_Positioning2 {
    position: absolute;
    /* bottom: 0; */
    /* right: 100%; */
    left:78%;
    width: 48px;
    /* border: 3px solid #73AD21; */
  }
  .right_Positioning3 {
    position: absolute;
    /* bottom: 0; */
    /* right: 100%; */
    left:71%;
    width: 48px;
    /* border: 3px solid #73AD21; */
  }
  .nav-item right_Positioning3{
       
    margin-right: 0px;
       padding-bottom: -0px;
        text-align: center;
        color:white;
      
         }
.nav-item right_Positioning3 {
        color: Black;
        font-size: 20px;
        text-decoration:none;
        line-height: -250px;
       padding: 8px;
       margin: 20px;
        background-color:5699ce;
        display:inline;
        font-family:calibri;
         /* margin-bottom: -20px; */
         }

.nav-item right_Positioning3 {
        background-color:white;
        text-align: center;
        padding-bottom: -80px;
        margin-top: -0px;
        margin-bottom: -0px;
        margin-left: 550px;
       }

.nav-item right_Positioning3{
   
        padding-top: -50px;
       padding-bottom: -0px;
       display: inline-block;
       }
      
.header img{
        float:left;
        margin-bottom: -20px; 
        margin-top: -20px;
    } 
    .page-header {
background: #0098da !important;
margin-bottom: 40px;}