<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png">
  Briiisk Mercantile Private Limited</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <ul *ngIf="status" class="navbar-nav mr-auto">
    <li class="nav-item">
       <a class="nav-link" (click)="logout()" href="#">Logoff</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a> 
    </li>         
  </ul> -->

<ul *ngIf="!status" class="nav navbar-nav">


  <li class="nav-item right_Positioning7">
    <a class="nav-link" routerLinkActive="active" routerLink="/main">MAIN</a>
  </li>

<li class="nav-item right_Positioning3">
  <a class="nav-link" routerLinkActive="active" routerLink="/home">HOME</a>
</li>
<li class="nav-item right_Positioning2">
  <a class="nav-link" routerLinkActive="active" routerLink="/about-us">ABOUT</a>
</li>
<li class="nav-item right_Positioning">
    <a class="nav-link" routerLinkActive="active" routerLink="contact">CONTACT</a>
  </li>
  <li class="nav-item right_Positioning1">
    <a class="nav-link" routerLinkActive="active" routerLink="/service">SERVICES</a>
  </li>
</ul> 
</nav>
<router-outlet></router-outlet>
