<header class="page-header">
  <div class="container">
    <div class=fakeimg>
      <img src="assets/back.png">
    </div>
    <!-- <div class="jumbotron text-center" style="margin-bottom:0"></div> -->

      <h1 class="title"><b>IT Consultancy</b></h1>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <style>
    
      </style>
  </div>
  
</header>




<div class="row1">
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-pencil-ruler"></i>
      <span><h3><b>IT Consulting</b></h3></span>
      <p>With deep domain expertise and market knowledge, we give you a walkthrough of trending features and functionalities to choose from, that make your product stand out in the industry</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-parachute-box"></i>
      <span><h3><b>Web and Mobile Application Development</b></h3></span>
      <p>Tell us your requirements and we will get you the app ready. With user-friendly interfaces, handcrafted by experts to suit your needs, our web application, and mobile applications provide you with the performance you are looking for.</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-tablet-alt"></i>
      <span><h3><b>Business App Development</b></h3></span>
      <p>Business Applications suiting your business is one of the prime areas we work on. With the study of market and audience, we deliver you with a tailor-made application that is not just suitable for you but is also appealing to the customer.</p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-layer-group"></i>
      <span><h3><b>IT Outsourcing</b></h3></span>
      <p>We ensure responsible outsourcing for your existing internal activities to external service providers who deliver effectively and add value to your business. The contract process is kept transparent and is undertaken by us entirely keeping you well informed of the terms and conditions. </p>
  </div>  
</div>
<div class="col-lg-4 col-md-6 feature_box">
  <div class="feature-box-02 text-center">
      <div class="left_border"></div>
      <div class="right_border"></div>
      <div class="top_border"></div>
      <div class="bottom_border"></div>
      <i class="fas fa-chart-line"></i>
      <span><h3><b>IT Recruiting</b></h3></span>
      <p>We understand how important is teamwork and to have like-minded people to share and invent new things. Hence we at BRIIISK  Mercantile, help you find the right set of people with as per your requirements who share your ideologies and have the right technical skills who would also effectively add and bring value to your projects. </p>
  </div>  
</div>

</div>






